.info__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.info__text-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 80%;
  height: 50%;
  /* border-left: 0.5vh solid #fff; */
}

.info__separador{
  margin-left: 4vh;
  height: 50%;
  border: 0.25vh solid #fff;
}

.info__texts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  height: 45vh;
  border-radius: 28px;
  background-color: #01535e;
}

.info__title {
  margin: 10px 0;
  color: #fff;
  font-family: Formula Condensed;
  font-size: 40px;
  font-size: 5.35vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
}

.info__text1 {
  margin: 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-size: 2.7vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info__text2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 2.95vh;
  font-style: normal;
  margin: 10px 0;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}


@media screen and (max-width: 720px) {
  .info__separador{
    margin-left: 0.2em;
    border: 0.09em solid #fff;
  }
  .info__texts {
    width: 95vw;
    height: 20vh;
  }
  .info__title{
    font-size: 1.45em;
  }
  .info__text1{
    font-size: 1em;
  }
  .info__text2{
    font-size: 0.8em;
  }
}

@media screen and (max-width: 420px) {
  .info__texts {
    height: 15vh;
  }
  .info__title{
    margin: 5px 0;
    font-size: 0.68em;
  }
  .info__text1{
    font-size: 0.45em;
  }
  .info__text2{
    font-size: 0.3em;
  }
}