.adopcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  height: 200vh;
  width: 100vw;
}

.adopcion__content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.adopcion__title {
  color: var(--verde-claro-textos, #006873);
  font-family: Formula Condensed;
  width: 100%;
  margin-left: 10vw;
  margin-bottom: 0;
  margin-top: 20vh;
  text-align: start;
  font-size: 10.2vh;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.adopcion__img {
  top: 5vw;
  right: 5vw;
  width: 40vw;
  position: absolute;
}

.adopcion__testimonios {
  position: absolute;
  bottom: -15vh;
}

@media screen and (max-width: 720px) {
  .adopcion {
    height: 100vh;
  }
  .adopcion__content {
    height: 90vh;
  }
  .adopcion__title {
    width: 50%;
    font-size: 3em;
  }
  .adopcion__img {
    top: 20em;
  }
  .adopcion__testimonios {
    position: absolute;
    bottom: -15vh;
  }
}
@media screen and (max-width: 420px) {
  .adopcion {
    height: 90vh;
  }
  .adopcion__title {
    width: 50%;
    font-size: 2em;
  }
}
