.bookprueba{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
    transform: rotateZ(-8.49deg);
    background-image: url("../../../assets/Img-Section01/Page03/hoja.png");
}

.book__background{
    position: absolute;
    top: 18.6%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.booktext1{
    width: 27.7448vw;
    height: 15.625vw;
    font-size: 1.30208vw;
    line-height: 1.5625vw;
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(8, 29, 32);
}

.booktext2{
    width: 28.6714vw;
    height: 3.95833vw;
    font-size: 3.125vw;
    font-family: "Formula Condensed";
    font-weight: 700;
    line-height: 3.75vw;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(193, 136, 49);
}

.booktext3{
    margin: 0%;
    margin-top: 2%;
    margin-top: 50px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.2px;
    width: 8.22396vw;
    height: 1.5625vw;
    font-size: 1.30208vw;
}

