.container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Apilar elementos verticalmente */
  gap: 20px; /* Espacio entre elementos */
  position: relative;
}
.App{
  height: 229vw;

}

/* Estilos para centrar vertical y horizontalmente */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Cambio en la dirección de flexión para apilar verticalmente */
.flex-column {
  flex-direction: column;
}

/* Estilos para las imágenes de fondo */
.fondo-style {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

#fondo1 {
  width: 100vw;
  z-index: 3;
  height: 80vw;
}
#fondo1 img {
  height: 100%;
  width: 105vw;
  object-fit: fill;
}
#fondo2 {
  background-image: url(../../../assets/Section9IMG/819f19fbc8d2bf12d848c4a71e828d49.png);
  position: absolute;
  top: 53vw;
    z-index: 2;
    height: 100vw;
  width: 100vw;
}

#fondo3 {
  background-image: url(../../../assets/Section9IMG/819f19fbc8d2bf12d848c4a71e828d49.png);
  position: absolute;
  top: 127vw;
  height: 67vw;
  width: 100vw;
  object-fit: cover;
}
#fondo4 {
  background-image: url();
  background-image: url(../../../assets/Section9IMG/528d375cdfbed90a2c779e3b78f887cf.png);
  height: 50vw;
  top: 179vw;
  position: absolute;
  object-fit: cover;
}

.square {
  position: absolute;
  top: 56vw;
  width: 100vw;
  z-index: 4;
}
.container-square {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
}
.container-square a{
  margin-bottom: 1rem;
}
.style {
  color: #fcfbcb;
  text-align: center;
  font-family: Formula Condensed;
  font-size: 9.375vw;
  font-style: normal;
  font-weight: 700;
  line-height: 142px;
  letter-spacing: 5.4px;
  text-transform: uppercase;
  position: absolute;
  top: 26vw;
  left: 0;
  right: 0;
  margin: 0 auto;
}
h2 {
  margin-bottom: 1rem;
  font-size: 1.78vw;
  font-weight: 700;
  letter-spacing: 1.02px;
  margin-top: 0rem;
}
p {
  letter-spacing: 0px;
}
.style-hover:hover{
  transform: scaleY(1.07);
  -webkit-transform-origin-y: bottom;
  transition: all 0.2s;
}
.cuadro1-style {
  width: 28vw;
  /* max-width: 528px; */
  height: 18vw;
  background-color: #0f4a4d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.cuadro1-style:hover{
  transform: scaleY(1.07);
  -webkit-transform-origin-y: bottom;
  transition: all 0.2s;
}

.cuadro1-text {
  color: #fff;
  font-family: "Formula Condensed", sans-serif;
  font-size: 0.94vw;
  font-weight: 400;
  line-height: normal;
  padding: 2rem;
}

.cuadro1-title {
  font-size: 1.78vw;
  font-weight: 700;
  letter-spacing: 1.02px;
}

.cuadro1-description {
  font-family: "Inter", sans-serif;
  font-size: 0.94vw;
  font-weight: 400;
  line-height: normal;
}

.cuadro2-style {
  width: 52vw;
  /* max-width: 893px; */
  height: 18vw;;;
  background-color: #81ddec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro2-text {
  /* width: 800px; */
  height: 200px;
  color: #0f4a4d;
  font-family: "Formula Condensed", sans-serif;
  font-size: 0.94vw;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.02px;
  padding: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cuadro2-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro2-description {
  font-size: 0.94vw;
  font-weight: 400;
  line-height: normal;
}

.cuadro3-style {
  width: 40vw;
  /* max-width: 690px; */
  height: 18vw;;;
  background-color: #13aaaf;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.cuadro3-text {
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.02px;
  margin-left: 1vw;
  padding: 2rem;
}

.cuadro3-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro3-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro4-style {
  width: 40vw;
  /* max-width: 730px; */
  height: 18vw;;;
  background-color: #8af4f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro4-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.02px;
  margin-left: 1vw;
}

.cuadro4-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro4-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro5-style {
  /* max-width: 488px; */
  width: 25vw;
  margin-right: 1rem;
  height: 18vw;;;
  background-color: #ebeaa6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro5-text {
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
  letter-spacing: 1.02px;
  margin-left: 1vw;
  padding: 2rem;
}

.cuadro5-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro5-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro6-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
  /* max-width: 931px; */
  height: 18vw;
  background-color: #0f4a4d;
}

.cuadro6-text {
  padding: 2rem;
  color: #fff;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro6-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro6-description {
  color: #fff;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cuadro7-style {
  margin-right: 1rem;
  width: 29vw;
  /* max-width: 592px; */
  height: 18vw;
  background-color: #8cd7e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro7-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro7-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro7-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro8-style {
  width: 51vw;
  /* max-width: 840px; */
  height: 18vw;
  background-color: #86f3f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro8-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro8-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro8-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro9-style {
  /* max-width: 710px; */
  width: 34vw;
  height: 18vw;
  background-color: #0f4a4d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.cuadro9-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.02px;
  padding: 2rem;
}

.cuadro9-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro9-description {
  color: #fff;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro10-style {
  /* max-width: 710px; */
  height: 18vw;
  background-color: #13aaaf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46vw;
}

.cuadro10-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro10-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro10-description {
  width: 479px;
  height: 44px;
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro11-style {
  margin-right: 1rem;
  width: 35vw;
  /* max-width: 727px; */
  height: 18vw;
  background-color: #86f3f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro11-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro11-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro11-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro12-style {
  width: 45vw;
    /* max-width: 690px; */
  height: 18vw;
  background-color: #8cd7e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro12-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro12-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro12-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro13-style {
  width: 29vw;
  margin-right: 1rem;
  /* max-width: 487px; */
  height: 18vw;
  background-color: #13AAAF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro13-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro13-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro13-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro14-style {
  width: 51vw;
  /* max-width: 930px; */
  height: 18vw;
  background-color: #EBEAA6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro14-text {
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.02px;
  padding: 2rem;
}

.cuadro14-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro14-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cuadro15-style {
  margin-right: 1rem;
  /* max-width: 623px; */
  height: 18vw;
  background-color: #86F3F8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37vw;
}

.cuadro15-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro15-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro15-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cuadro16-style {
  width: 43vw;
  /* max-width: 795px; */
  height: 18vw;
  background-color: #8CD7E1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro16-text {
  padding: 2rem;
  color: #0f4a4d;
  font-family: Formula Condensed;
  font-size: 1.78vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.02px;
}

.cuadro16-subtitle {
  font-size: 1.78vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.cuadro16-description {
  color: #000;
  font-family: Inter;
  font-size: 0.94vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
