.videos__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: 0;
  z-index: 60;
  width: 100vw;
}

.video__play {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 55vh;
  border-radius: 63px;
  /* background: #c4c4c4; */
  background-color: black;
}

.video__button img {
  opacity: 0.5;
}

.veronika {
  position: relative;
  /* top: 5vw; */
  border-radius: 1vw;
  width: 65vw;
  height: 40vw;
}


.video__button img:hover {
  cursor: pointer;
}

.video__title {
  margin: 1vw 0;
  color: var(--verde-claro-textos, #006873);
  text-align: center;
  font-family: "Inika", sans-serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.laboral {
  color: #a2e7f1;
}

@media screen and (max-width: 720px) {
  .video__button {
    width: 47vw;
    height: 15em;
    border-radius: 40px;
  }
  .video__title {
    margin: 1vw 0;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 420px) {
  .video__button {
    width: 48vw;
    height: 10em;
    border-radius: 30px;
  }
  .video__title {
    margin: 1vw 0;
    font-size: 1.5em;
  }
}
