.graphic__finalidad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 40px 0;
}

.graphicfinalidad__content {
  width: 80%;
  height: 85%;
  /* background-color: #bbb; */
  border-radius: 90px;
}

.finalidadexplotacion {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: center;
  height: 33%;
  position: relative;
  top: 0.2vw;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px 50px 0 0;
  background-image: url("../../../assets/Img-Section02/Page03/1-explotacion1.png");
}

.finalidadexplotacion__content {
  height: 75%;
  padding-left: 2.5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

.finalidad__percentagegold {
  font-family: "Formula Condensed";
  font-size: 6vw;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: normal;
  text-align: left;
  color: #f2dfb8;
}

.explotaciontitle {
  margin: 0;
  font-family: Formula Condensed;
  font-size: 3.5vw;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-align: left;
  color: #f2dfb8;
}

.finalidad__filados {
  justify-content: center;
  display: flex;
  height: 34%;
}

.finalidadmendicidad {
  display: flex;
  flex-direction: column;
  background-position: top;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  background-image: url("../../../assets/Img-Section02/Page03/2-mendicidad1.png");
}

.mendicidadtitle {
  display: flex;
  margin: 0;
  width: 100%;
  font-family: Formula Condensed;
  font-size: 2.5vw;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: left;
  color: #166266;
}

.finalidadmendicidad__content {
  height: 90%;
  padding-left: 2.5em;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column-reverse;
}

.mendicidadpercentage {
  font-family: Formula Condensed;
  font-size: 6vw;
  font-weight: 700;
  line-height: normal;
  /* line-height: 156px; */
  letter-spacing: 0em;
  text-align: left;
  color: #166266;
}

.finalidadilicita {
  display: flex;
  flex-direction: column;
  background-position: top;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15%;
  background-image: url("../../../assets/Img-Section02/Page03/3-actividades1.png");
}

.finalidadilicita__content {
  /* padding-left: 0.5em; */
  display: flex;
  height: 90%;
  flex-direction: column-reverse;
  padding: 1em;
}

.ilicitatitle {
  margin: 0;
  font-family: Formula Condensed;
  font-size: 2.5vw;
  font-weight: 300;
  line-height: normal;
  /* line-height: 45px; */
  letter-spacing: 0.02em;
  text-align: left;
  color: #f2dfb8;
}

.finalidadexplotacion__content-laboral {
  padding-left: 2.5em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  height: 100%;
  /* justify-content: end; */
}

.explotacion-laboral__title {
  margin: 0;
  font-family: Formula Condensed;
  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-align: left;
  color: #166266;
}

.finalidadeslaboral {
  display: flex;
  flex-direction: column;
  background-position: top;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 65%;
  background-image: url("../../../assets/Img-Section02/Page03/4-explotacion1.png");
}

.finalidad__filatres {
  display: flex;
  height: 33%;
}

.finalidadotros {
  width: 60%;
  border-radius: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/Img-Section02/Page03/5-otros1.png");
}

.finalidadotros__content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-left: 2.5em;
  height: 85%;
}

.finalidadmatrimonio {
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  width: 15%;
  background-image: url("../../../assets/Img-Section02/Page03/6-matrimonio1.png");
}

.finalidadmatrimonio__content {
  padding: 0.5em;
  display: flex;
  height: 95%;
  justify-content: center;
  flex-direction: column-reverse;
  /* padding: 1em; */
}

.finalidadesclavitud {
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23%;
  background-image: url("../../../assets/Img-Section02/Page03/7-esclavitud1.png");
}

.esclavitudtitle {
  display: flex;
  margin: 0;
  width: 100%;
  font-family: Formula Condensed;
  font-size: 2vw;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: left;
  color: #166266;
}

.finalidadesadopcion {
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/Img-Section02/Page03/8-adopcion1.png");
  width: 12%;
  border-radius: 0 0 50px 0;
}

.finalidadadopcion__content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 80%;
  padding: 0.5em;
}

.adopciontitle {
  margin: 0;
  font-family: Formula Condensed;
  font-size: 2vw;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f2dfb8;
}

.finalidadesclavitud__content {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 0 1em;
  height: 100%;
}

.img__finalidad {
  width: 80%;
  padding: 10em 0;
  display: none;
}

@media screen and (max-width: 720px) {
  .img__finalidad {
    width: 90%;
    padding: 15em 0;
  }
}

@media screen and (max-width: 420px) {
  .img__finalidad {
    width: 90%;
    padding: 5em 0;
  }
}
