.graphic__finalidad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 40px 0;
}

.img__finalidad {
  width: 80%;
  padding: 10em 0;
}

@media screen and (max-width: 720px) {
  .img__finalidad {
    width: 90%;
    padding: 15em 0;
  }
}

@media screen and (max-width: 420px) {
  .img__finalidad {
    width: 90%;
    padding: 5em 0;
  }
}
