.Section02 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 10vh;
  width: 100vw;
  background: #fefff3;
  /* z-index: 1 !important; */
}

.page2content {
  position: relative;
  height: 150vh;
}

.page2 {
  display: flex;
  justify-content: flex-end;
  background: url("../../assets/Img-Section02/Page01/background.png");
  height: 100%;
  /* background-size: 100vw; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.page2__imagesbackground {
  z-index: 1;
  position: absolute;
  left: 7.5%;
  width: 85%;
  height: 60%;
  bottom: 10vw;
}

.page2__imagemen {
  position: relative;
  left: 0vw;
  width: 48%;
  height: 80%;
  object-fit: contain;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1.5px, 1.5px);
  }
  20% {
    transform: translate(1.5px, -1.5px);
  }
  30% {
    transform: translate(-1.5px, 1.5px);
  }
  40% {
    transform: translate(1.5px, -1.5px);
  }
  50% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animation-image {
  animation: shake 0.9s infinite;
}

@keyframes sway {
  0% {
    transform: translateX(-3px) rotate(0deg);
  }
  25% {
    transform: translateX(3px) rotate(-2deg);
  }
  50% {
    transform: translateX(-3px) rotate(0deg);
  }
  75% {
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    transform: translateX(-3px) rotate(0deg);
  }
}
.animation-image2 {
  animation: sway 9s infinite ease-in-out;
  transform-origin: center bottom;
}

.page2__sombreromen {
  position: relative;
  width: 25%;
  height: 25%;
  bottom: 12vw;
  background-image: url("../../assets/Img-Section02/Page01/sombrero1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.page2__botas {
  position: absolute;
  right: 2vw;
  width: 35%;
  height: 35%;
  bottom: 5vw;
  object-fit: contain;
}

.page2__title {
  margin: 0;
  color: #fefff3;
  position: absolute;
  font-family: "Formula Condensed";
  right: 15%;
  top: 25%;
  font-size: 14.6vh;
  font-style: normal;
  flex-shrink: 0;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.page2__title2 {
  color: #fefff3;
  position: absolute;
  font-family: "Formula Condensed";
  right: 5.8%;
  bottom: 48%;
  font-size: 13vh;
  font-style: normal;
  flex-shrink: 0;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.slider__content {
  height: 100vh;
}

.section__02slider {
  width: 100vw;
  margin: 25vh 0;
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .page2content {
    height: 100vh;
  }
  .page2__title {
    right: 16%;
    top: 25%;
    font-size: 4em;
  }

  .page2__title2 {
    right: 5.8%;
    bottom: 55%;
    font-size: 4em;
  }
}
@media screen and (max-width: 420px) {
  .page2content {
    height: 80vh;
  }
  .page2__title {
    right: 16%;
    top: 25%;
    font-size: 2em;
  }

  .page2__title2 {
    right: 8%;
    bottom: 56%;
    font-size: 2em;
  }
}
