.LawEnforcementBackground {
    position: relative;
}

.LawEnforcementImages {
    position: absolute;
}

.LawEnforcementText {
    position: absolute;
    margin: 0px;
}

.LawEnforcementText span {
    font-weight: 700
}