.ToHome {
    position: fixed;
    bottom: 10vh;
    left: 94vw;
    padding: 0px;
    z-index: 5;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
}

.ToHome:hover {
    /* border: 0px solid transparent; */
    opacity: 0.8;
}

.ToHome img {
    height: 2.5vw;
    width: 2.3vw;
    object-fit: contain;
    object-position: center;
}