.InterestingEventsBackground {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #CFF9FF;
}

.interestingEventsTextContainer {
    position: absolute;
    width: 100%;
}

.InterestingEventsText {
    position: absolute;
    margin: 0px;
    z-index: 3;
}

.title1Section7 {
    width: 10px;
    height: 10vw;
}

.InterestingEventsText span {
    font-weight: 700
}

.scroll2 {
    animation: rightLeft 0.8s infinite alternate ease-in-out;
}

@keyframes rightLeft {
    to {
        transform: translateX(2vw);
    }
}