.explotacion__laboral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  background-image: url("../../../../assets/Img-Section02//Page06/backgroundpasto.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.explotacion__laboral-content {
  display: flex;
  position: relative;
  height: 200vh;
  width: 100vw;
  z-index: 20;
}

.laboralsectiongraphic {
  z-index: 66;
  position: absolute;
  /* top: 10vh; */
  left: 0;
  background-color: transparent;
  width: 50vw;
  height: 50vh;
}

.laboral__graphicquemado {
  display: none;
  position: absolute;
  left: 0;
  background-image: url("../../../../assets/Img-Section02/Page06/graficoquemado.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 80vh;
}

.laboralsectiongraphic:hover + .laboral__graphicquemado{
  display: flex;
}

.laboral__graphicquemado:hover{
  display: flex;
}


.laboral__img {
  top: 10vw;
  width: 100vw;
  position: absolute;
  z-index: 20;
}

.laboral__testimonios {
  width: 100%;
  bottom: -10vh;
  z-index: 60;
  position: absolute;
  height: 70vh;
}

.laboral__title {
  color: var(--verde-claro-textos, #006873);
  font-family: Formula Condensed;
  width: 100%;
  margin-right: 4vw;
  margin-top: 4vh;
  top: 10vh;
  text-align: end;
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 790px) {
  .explotacion__laboral {
    background-size: cover;
    background-position: center;
  }

  .explotacion__laboral-content {
    height: 120vh;
  }

  .laboral__img {
    top: 10vw;
    width: 100vw;
    position: absolute;
    z-index: 20;
  }
  .laboral__testimonios {
    bottom: 0vh;
    height: 20vh;
  }
  .laboral__title {
    display: flex;
    position: relative;
    right: 20px;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
    height: 5%;
    font-size: 1.8em;
  }
}
@media screen and (max-width: 420px) {
  .explotacion__laboral {
    /* margin-top: 8vh; */
  }

  .explotacion__laboral-content {
    height: 80vh;
    width: 100vw;
  }

  .laboral__img {
    top: 10vw;
    width: 100vw;
    position: absolute;
    z-index: 20;
  }
  .laboral__testimonios {
    width: 100%;
    top: -6.6em;
    z-index: 60;
    position: relative;
    height: 10vh;
  }
  .laboral__title {
    top: 1em;
    text-align: end;
    font-size: 0.8em;
  }
}
