.small__info {
  position: relative;
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.small__title {
  color: var(--verde-claro-textos, #006873);
  text-align: center;
  font-family: Formula Condensed;
  margin: 0;
  width: 50%;
  font-size: 13.9vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.small__foot {
  margin: 0;
  color: var(--verde-claro-textos, #006873);
  text-align: center;
  font-family: "Inika", sans-serif;
  font-size: 3.85vh;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.small__gif {
  margin-top: 4%;
  width: 2.5%;
}

.small__popup {
  display: none;
  background-color: #FFEE96;
  border-radius: 1vh;
  padding: 3vh;
  color: black;
  font-family: "Inter";
  font-size: 2.8vh;
  font-weight: 400; 
  line-height: 1.2em;
  letter-spacing: 0em;
  width: 60%;
  text-align: justify;
  position: absolute;
  bottom: 5vh;
}

.small__gif:hover + .small__popup{
  display: block;
  z-index: 99;
  cursor: pointer;
}

.small__popup:hover{
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .small__info {
    margin-top: 80vh;
    height: 75vh;
  }

  .small__title {
    width: 80%;
    font-size: 5em;
  }

  .small__foot {
    font-size: 2em;
  }

  .small__gif {
    width: 2.5em;
  }
}
@media screen and (max-width: 420px) {
  .small__info {
    margin-top: 50vh;
    height: 75vh;
  }

  .small__title {
    width: 90%;
    font-size: 3em;
  }

  .small__foot {
    font-size: 1em;
  }

  .small__gif {
    width: 2.5em;
  }
}
