.InstructionsBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #026972;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InstructionsContainer {
    position: relative;
    top: 4vw;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InstructionsContainer h1 {
    margin: 0px;
}

.InstructionsContainer button {
    padding: 0px;
    margin-top: 2vw;
    border-radius: 0px;
    border: none;
}

.InstructionsCardsContainer {
    width: 90%;
    margin-top: 1.2vw;
    height: 22vw;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: baseline;
}

.InstructionsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InstructionsCard img {
    object-fit: cover;
}

.InstructionsCard p {
    color: #CFF9FF;
    margin: 0px;
    text-align: center;
}