.section__01slider {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* max-width: 900px; */
  margin: 300px 0;
  /* height: ; */
}

.slider {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.titleslider {
  display: flex;
  justify-content: center;
  width: 60%;
  color: #ce5c3b;
  margin: 0;
  text-align: center;
  font-size: 10vh;
  font-family: "Formula Condensed";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.text1__slider {
  display: flex;
  flex-direction: column;
  width: 65%;
  color: var(--negro-textos, #081d20);
  font-family: Inter;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  line-height: normal;
  margin: 0;
}

.text2__slider {
  color: var(--negro-textos, #081d20);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-family: Inter;
  font-size: 4vh;
  font-style: normal;
  padding-bottom: 3vh;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.text3__slider {
  color: #8b601e;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.75px;
  text-transform: uppercase;
  margin: 20px 0;
}


@media screen and (max-width: 1050px) {
  .slider-container {
    margin: 0px 0;
  }

  .slider {
    padding: 0 5vw;
  }

  .titleslider {
    width: 70%;
    font-size: 7vw;
  }

  .text1__slider {
    width: 90%;
    font-size: 3.5vw;
  }

  .text2__slider {
    font-size: 4vw;
  }

  .text3__slider {
    font-size: 4vw;
    margin: 10px 0;
  }
}

@media screen and (max-height: 1200px) {
  .slider-container {
    margin: 200px 0;
  }
}

@media screen and (max-height: 900px) {
  .slider-container {
    margin: 0;
  }
}
