.circlegraph02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 120vh;
  margin-top: 8vh;
}

.circlegraph02__content {
  display: flex;
  width: 90%;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
}

.circlegraph02__box {
  display: flex;
  height: 90%;
  width: 40%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.circlegraph02__title {
  margin: 0;
  color: var(--verde-medio, #0a4b4e);
  font-family: Formula Condensed;
  font-size: 9.4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.circlegraph02__subtitle {
  margin: 0;
  color: var(--verde-medio, #0a4b4e);
  font-family: "Inter", sans-serif;
  font-size: 5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.circlegraph02__img {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 30vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/Img-Section01/Page09/onSlider/graficocircular.png");
}

.circlegraph02__number {
  font-family: Formula Condensed;
  font-size: 7vh;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #0a4b4e;
  margin: 0;
}

.numbers__content-circle{
  display: flex;
  flex-direction: column;

}

.circlenumbers__content{
  position: absolute;
  top: -6.5vw;
  right: -7.5vw;
  display: flex;
  height: 120%;
  justify-content: space-between;
  width: 45vw;
  /* flex-direction: column; */
}

.onepercentage{
  justify-content: flex-end;
}

.threepercentage{
  justify-content: center;
}

.circlegraph02__foot {
  font-family: Inter;
  font-size: 2vh;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #0a4b4e;
}

.circlegraph02__p {
  width: 70%;
  color: var(--verde-medio, #0a4b4e);
  color: var(--verde-medio, #0a4b4e);
  font-family: Formula Condensed;
  font-size: 4vh;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 1.35px;
}

.circlegraph02__p strong {
  color: var(--verde-medio, #0a4b4e);
  color: var(--verde-medio, #0a4b4e);
  font-family: Formula Condensed;
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.35px;
}

@media screen and (max-width: 720px) {
  .circlegraph02 {
    width: 100vw;
    height: 120vh;
    margin-top: 20vh;
  }
  .circlegraph02__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circlegraph02__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circlegraph02__title {
    text-align: center;
    font-size: 4em;
  }
  .circlegraph02__subtitle {
    text-align: center;
    font-size: 2.5em;
  }
  .circlegraph02__img {
    margin: 1em 0;
    width: 80vw;
  }
  .circlegraph02__p {
    margin-top: 0;
    width: 90%;
    font-size: 2em;
  }
  .circlegraph02__p strong {
    font-size: 1em;
  }
}
@media screen and (max-width: 420px) {
  .circlegraph02 {
    height: 90vh;
  }
  .circlegraph02__title {
    font-size: 3em;
  }
  .circlegraph02__subtitle {
    text-align: center;
    font-size: 1em;
  }
  .circlegraph02__img {
    margin: 0.5em 0;
    width: 80vw;
  }
  .circlegraph02__p {
    width: 90%;
    font-size: 1em;
  }
  .circlegraph02__p strong {
    font-size: 1em;
  }
}
