.women {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100vw;
  height: 250vh;
}

.separadorslider {
  height: 12vw;
}

.women__content {
  width: 85%;
  height: 90vh;
}

.women__title {
  margin: 0;
  margin-bottom: 3%;
  color: var(--verde-medio, #0a4b4e);
  text-align: center;
  font-family: Formula Condensed;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.35px;
}

.women__background {
  position: relative;
  /* width: 65%; */
  height: 45vh;
  /* height: 22.5vw; */
  z-index: 1;
}

.womens__img {
  /* width: 100%; */
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 30vh;
  height: 15vw;
  z-index: 1;
}

.women__texts {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../../assets/Img-Section01/Page10/women.png");
  justify-content: space-evenly;
  z-index: 20;
  height: 27.5vw;
  /* width: 100vw; */
}

.women__texts-content1 {
  top: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 43vw;
  height: 50%;
}

.women__texts-content2 {
  bottom: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  height: 45%;
}

.women__text-p {
  width: 60%;
  width: 25vw;
  color: var(--verde-medio, #0a4b4e);
  font-family: "Inter", sans-serif;
  padding: 2%;
  padding-left: 1.5em;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.women__card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  width: 95%;
  height: 18%;
}

.women__card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border-radius: 28px;
  padding: 3vh;
  background: #165150;
}

.women__card2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
  padding: 3vh;
  border-radius: 28px;
  background: #60b6ba;
}

.women__popup {
  display: none;
  z-index: 20;
  background-image: url("../../../assets/Img-Section01/Page10/popup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -5em;
  width: 40vw;
  color: black;
  font-family: "Inter";
  font-size: 1vw ;
  font-weight: 400;
  border-radius: 1.5em;
  padding: 0.7em;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
}

.women__gif {
  top: 10px;
  right: 15px;
  position: absolute;
  height: 4vh;
  cursor: pointer;
}

.women__gif:hover + .women__popup{
  display: block;
 
}

.women__percentage {
  color: var(--verde-medio, #0a4b4e);
  font-family: Formula Condensed;
  font-size: 100px;
  font-size: 13vh;
  font-size: 6.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: 140px; /* 93.333% */
  text-transform: uppercase;
}

.women__card-p {
  color: #fff;
  font-family: Formula Condensed;
  padding: 1em;
  font-size: 2.15vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
}

@media screen and (max-width: 720px) {
  .women {
    width: 100vw;
    height: 100vh;
  }
  .women__content {
    width: 90%;
    height: 90%;
  }
  .women__title {
    font-size: 2.5em;
  }
  .women__background {
    position: relative;
    height: 45vh;
    z-index: 1;
  }
  .womens__img {
    left: 43%;
    height: 8em;
  }
  .women__texts {
    height: 15em;
  }
  .women__texts-content1 {
    width: 72vw;
  }
  .women__texts-content2 {
    width: 90%;
  }
  .women__text-p {
    width: 45%;
    font-size: 1.3em;
  }
  .women__card-content {
    margin-top: 4vh;
  }
  .women__card1 {
    width: 45%;
    padding: 1em;
  }
  .women__card2 {
    width: 42%;
    padding: 1em;
  }
  .women__percentage {
    font-size: 5em;
  }
  .women__card-p {
    padding: 0.5em;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 420px) {
  .women__content {
    width: 90%;
    height: 70vh;
  }
  .women__title {
    font-size: 1.5em;
  }
  .women__background {
    position: relative;
    height: 45vh;
    z-index: 1;
  }
  .womens__img {
    left: 43%;
    height: 4.5em;
  }
  .women__texts {
    height: 9em;
  }
  .women__texts-content1 {
    width: 72vw;
  }
  .women__texts-content2 {
    width: 100%;
  }
  .women__text-p {
    width: 45%;
    font-size: 0.7em;
  }
  .women__card-content {
    margin-top: 4vh;
  }
  .women__card1 {
    width: 45%;
    padding: 1em;
  }
  .women__card2 {
    width: 42%;
    padding: 1em;
  }
  .women__percentage {
    font-size: 2.5em;
  }
  .women__card-p {
    padding: 0.5em;
    font-size: 0.8em;
  }
}
