.map__section01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180vh;
  width: 100vw;
  margin-bottom: 1.5vw;
}



.map__title {
  color: #004543;
  text-align: center;
  font-family: Formula Condensed;
  font-size: 2.7em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.9px;
  margin: 0;
}

.map__text1 {
  color: #ce5c3b;
  text-align: center;
  font-family: Formula Condensed;
  font-size: 40px;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.content-accordion{
  /* height: 150%; */
}

.map__content {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  width: 100vw;
  height: 75%;
}

.mapnumber02 {
  position: absolute;
  right: -1vw;
  width: 100%;
  height: 100%;
}

#MX02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}
#GT02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}
#BZ02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}
#SV02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

#NI02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

#CR02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

#CR02 polygon:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

#PA02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

.SV02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

#DO02 path:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

.DO02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

.HN02:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

#HN02 polygon:hover {
  cursor: pointer;
  stroke-width: 7px !important;
  stroke: #13f8fd !important;
}

.percentage__list {
  display: flex;
  list-style: none;
  margin: 0 20px;
}

.percentage1 {
  width: 4.2em;
  height: 1.3em;
  background-image: url("../../../assets/Img-Section01/Page05/percentage1.jpg");
}

.percentage2 {
  width: 4.2em;
  height: 1.3em;
  background-image: url("../../../assets/Img-Section01/Page05/percentage2.jpg");
}

.percentage3 {
  width: 4.2em;
  height: 1.3em;
  background: #081d20;
  background-image: url("../../../assets/Img-Section01/Page05/percentage3.jpg");
}

.percentage__number {
  display: flex;
  width: 100%;
  margin-top: 5px;
  list-style: none;
}

.map__foot {
  display: flex;
  justify-content: center;
  width: 30%;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 20vh;
}

.map__foot-text {
  text-align: center;
  color: #737373;
  margin: 0;
  font-family: Formula Condensed;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.map__foot-img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.percentage__number li {
  margin-left: 30px;
  color: var(--negro-textos, #081d20);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.map__percentage {
  width: 20%;
}

.mapcontent {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.maphover__content {
  position: absolute;
  flex-direction: column;
  left: 4.5vw;
  top: 20%;
  width: 27vw;
  height: 37vw;
}

.MXmap {
  display: none;
}
.GTmap {
  display: none;
}
.BZmap {
  display: none;
}
.SVmap {
  display: none;
}
.HNmap {
  display: none;
}
.NImap {
  display: none;
}
.CRmap {
  display: none;
}
.PAmap {
  display: none;
}
.DOmap {
  display: none;
}

.maphovertext {
  position: relative;
  left: 1vw;
  width: 100%;
  height: 35%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.MXtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoMX.png");
}
.GTtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoGT.png");
}
.BZtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoBZ.png");
}
.SVtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoSV.png");
}
.HNtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoHN.png");
}
.NItext {
  background-image: url("../../../assets/Img-Section01/Page05/textoNI.png");
}
.CRtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoCR.png");
}
.PAtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoPA.png");
}
.DOtext {
  background-image: url("../../../assets/Img-Section01/Page05/textoDO.png");
}

.maphoverimg {
  height: 60%;
  width: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.MXimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoMX.jpg");
}
.GTimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoGT.jpg");
}
.BZimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoBZ.jpg");
}
.SVimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoSV.jpg");
}
.HNimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoHN.jpg");
}
.NIimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoNI.jpg");
}
.CRimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoCR.jpg");
}
.PAimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoPA.jpg");
}
.DOimg {
  background-image: url("../../../assets/Img-Section01/Page05/graficoDO.jpg");
}

.cls-7 {
  fill: #004543 !important;
}

@media screen and (max-width: 769px) {
  .map__foot {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: 12em;
  }

  .map__section01 {
    height: 90vh;
  }
  .map__title {
    font-size: 1.5em;
  }
  .map__text1 {
    font-size: 1.5em;
  }
  .map__img {
    right: 0;
    width: 90%;
    height: 60%;
  }
  .map__hoverimg {
    width: 100%;
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    bottom: 10.1vh;
  }
  .map__percentage {
    width: 30%;
  }

  .percentage__list {
    margin: 0;
  }

  .percentage__number li {
    margin-left: 0.6em;
  }
}

@media screen and (max-width: 420px) {
  .map__foot {
    bottom: 6em;
  }
  .percentage__number li {
    font-size: 10px;
  }
}
