.header-container{
    background-color: #CFF9FF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hamburger-icon img{
    position: fixed;
    z-index: 10;
    left: 95vw;
    top: 3vw;
}
.menu-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 8;
}

.menu-expanded.active {
    transform: translateX(0);
  }
.header-container_img{
    width: 86vw;
    margin: 0 auto;
    margin-bottom: 0.7rem;
    display: flex;
}
.header-text{
    width: 28.8vw;
    margin: 0rem 0.5rem;
    position: relative;
}
.header-text img{
    border-radius: 28px;
    max-height: 28.8vh;
    min-height: 28.8vh;
    object-fit: cover;
    width: 100%;
}
.header-text .text{
    color: white;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    font-family: Formula Condensed;
    position: absolute;
    top: 0vw;
    width: 92%;
    padding: 0% 4%;
    letter-spacing: 1.65px;
    background-color: rgba(0,0,0,0.5);
    height: 28.8vh;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text .text:hover{
    opacity: 0;
    transition: all 0.3s;
}