.HomeHeaderBackground {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #CFF9FF;
}

.HomeHeaderImages {
    object-fit: contain;
}

.HomeHeaderText {
    position: absolute;
    margin: 0px;
}

.HomeHeaderText span {
    font-weight: 700
}

.HomeHeaderBlockFooter {
    position: absolute;
    width: 100%;
    background-color: #002D2C;
}

.scroll {
    animation: upAndDrown 1s infinite alternate ease-in-out;
}

@keyframes upAndDrown {
    to {
        transform: translateY(-1.5vw);
    }
}