.HomeHeaderBackground {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    z-index: 4 !important;
    background-color: #CFF9FF;
}

.HomeHeaderImages {
    object-fit: contain;
    position: relative;
    z-index: 1;
}

.HomeHeaderText {
    position: absolute;
    margin: 0px;
}

.HomeHeaderText span {
    font-weight: 700
}

.HomeHeaderBlockFooter {
    position: absolute;
    width: 100%;
    background-color: #002D2C;
}

.scroll {
    animation: upAndDrown 1s infinite alternate ease-in-out;
}

.containerPuppet {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

@keyframes upAndDrown {
    to {
        transform: translateY(-1.5vw);
    }
}

#audio1section0:hover {
    cursor: pointer;
    position: relative;
    z-index: 2;
}