.NoteBook {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.NoteBookText {
    position: absolute;
}

.NoteBook p {
    margin: 0;
}

.NoteBook span {
    font-weight: 700
}

.NoteBook h1 {
    margin: 0;
}

.NoteBook footer {
    margin: 0%;
}
