.medicina__forzada {
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/Img-Section02/Page07/background.png");
  align-items: center;
  /* width: 100vw; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-top: 20vw; */
  position: relative;
}

.medicina__content {
  display: flex;
  position: relative;
  height: 120vh;
  width: 100vw;
}

.medicina__graficoquemado {
  display: flex;
  position: absolute;
  top: 10vw;
  left: -100vw;
  background-image: url("../../../assets/Img-Section02/Page07/mendicidadquemado.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 80vh;
  z-index: 2;
}

.medicina__title {
  color: var(--verde-claro-textos, #006873);
  font-family: Formula Condensed;
  width: 100%;
  margin-right: 10vw;
  margin-bottom: 0;
  margin-top: 20vh;
  text-align: end;
  font-size: 10.2vh;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pills__img {
  top: 5vw;
  left: 0;
  width: 40vw;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .medicina__content {
    height: 100vh;
  }
  .medicina__title {
    width: 100%;
    margin-left: 0.5em;
    margin-top: 20vh;
    font-size: 4em;
  }
  .pills__img {
    top: 20em;
    width: 45vw;
  }
}
@media screen and (max-width: 420px) {
  .medicina__title {
    font-size: 2.5em;
  }
  .pills__img {
    top: 25em;
    width: 45vw;
  }
}
