.credits__mano1 {
  position: absolute;
  background-image: url("../../assets/Section8/mano-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -20vw;
  bottom: 28%;
  width: 65%;
  height: 65%;
  z-index: 3;
}
.credits__mano2 {
  position: absolute;
  background-image: url("../../assets/Section8/mano-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0vw;
  right: -0.5vw;
  /* bottom: 34%; */
  width: 59.5%;
  height: 60%;
  z-index: 2;
}
.credits__mano3 {
  position: absolute;
  background-image: url("../../assets/Section8/mano-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0vh;
  left: 11.5vw;
  width: 65%;
  height: 67%;
}
.credits__mano4{
    position: absolute;
    background-image: url("../../assets/Section8/mano-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    /* top: 0; */
    left: 42vw;
    bottom: 28%;
    width: 44%;
    height: 49%;
    z-index: 3;
}
