.NoteBook07 {
  background: url("../../../assets/Img-Section02/Page06/bookcorto.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 55vh;
  transform: rotate(4.362deg);
  left: 95vh;
  top: 40vh;
  position: absolute;
  z-index: 90;
}

.NoteBook07__texts {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  text-align: center;
  transform: rotate(4.062deg);
  margin-left: 15.5vh;
  margin-top: 14.5vh;
  font-style: normal;
  width: 50%;
}

.NoteBook07__text1 {
  transform: rotate(-4.362deg);
  color: var(--negro-textos, #081d20);
  font-size: 2.5vh;
  line-height: normal;
  font-weight: 400;
  text-align: start;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.NoteBook07__text2 {
  transform: rotate(-4.362deg);
  color: #c18831;
  font-family: "Formula Condensed";
  font-size: 5vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: start;
  text-transform: uppercase;
  margin: 0;
  margin-left: 0.8vh;
  margin-top: 0.3vh;
}

.NoteBook07__text3 {
  transform: rotate(-4.362deg);
  text-align: start;
  color: var(--negro-textos, #081d20);
  font-family: Inter;
  font-size: 2.2vh;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: normal;
  letter-spacing: 2.75px;
  margin-left: 1vw;
  margin-top: 0.65vw;
}

@media screen and (max-width: 720px) {
  .NoteBook07 {
    background-size: cover;
    background-position: center;
    height: 40vh;
    left: 5vh;
    top: 35vh;
  }

  .NoteBook07__texts {
    margin-left: 15.5vh;
    margin-top: 12vh;
    width: 55%;
  }

  .NoteBook07__text1 {
    font-size: 1.5em;
  }

  .NoteBook07__text2 {
    font-size: 2em;
  }

  .NoteBook07__text3 {
    font-size: 1em;
    margin-left: 0.5em;
  }
}
