.BarGraph {
  margin: 15em 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bargraph__image {
  position: relative;
  background-image: url("../../../assets/Img-Section01/Page04/grafico09.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 65vh;
  width: 70.5%;
}

.baragraph__graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
}

.bargraph__title {
  width: 60%;
  color: var(--verde-claro-textos, #006873);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.baragraph__columns {
  position: absolute;
  margin: 0 30px;
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  list-style: none;
}

.baragraph__column1 {
  position: relative;
  color: var(--verde-claro-textos, #006873);
  font-family: "Formula Condensed";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  bottom: 15px;
  left: 10px;
}

.baragraph__column2 {
  position: relative;
  color: var(--verde-claro-textos, #006873);
  font-family: "Formula Condensed";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  bottom: 75px;
  left: 3px;
}

.baragraph__column3 {
  position: relative;
  color: var(--verde-claro-textos, #006873);
  font-family: "Formula Condensed";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.baragraph__column4 {
  position: relative;
  color: var(--verde-claro-textos, #006873);
  font-family: "Formula Condensed";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  bottom: 60px;
  right: 12px;
}

.baragraph__years {
  list-style: none;
  position: relative;
  display: flex;
  width: 49%;
  margin-left: 10px;
  justify-content: space-around;
  color: var(--verde-claro-textos, #006873);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bargraph__texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 40%;
}

.bargraph__text1 {
  color: var(--verde-medio, #0a4b4e);
  font-family: "Inter", sans-serif;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
  margin: 0;
  line-height: 1.3;
}

.bargraph__text2 {
  color: var(--verde-medio, #0a4b4e);
  font-family: Formula Condensed;
  font-size: 8vh;
  font-style: normal;
  font-weight: 700;
  line-height: 0.2;
  margin: 5vh 0;
}

.bargraph__text3 {
  color: var(--verde-medio, #0a4b4e);
  font-family: Formula Condensed;
  font-size: 6vh;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
}

@media screen and (max-width: 720px) {
  .BarGraph {
    margin: 20em 0;
    flex-direction: column;
    height: 80vh;
  }
  .bargraph__image {
    height: 30vh;
  }
  .baragraph__graphic{
    width: 90%;
  }
  .bargraph__title {
    font-size: 4vw;
    width: 90%;
  }
  .bargraph__texts{
    width: 90%;
    align-items: center;
  }
  .bargraph__text2{
    font-size:2em;
  }
  .bargraph__text3{
    font-size:1em;
  }
  .bargraph__text1{
    width: 100%;
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  /* .BarGraph {
    margin-top: 0vh;
  }
  .bargraph__title {
    font-size: 1.2vh;
  }
  .bargraph__image {
    position: relative;
    left: -2vh;
    height: 100%;
    width: 70%;
  } */
}
