body {
  margin: 0;
 
}

:root{
  font-family: "Formula Condensed", sans-serif;
  overflow-x: hidden;
  
}

.background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image1 {
  z-index: 1;
  background-position: top left; /* Alinea la imagen en la esquina superior izquierda */
}

.image2 {
  z-index: 2;
  background-position: top right; /* Alinea la imagen en la esquina superior derecha */
}

.image3 {
  z-index: 3;
  background-position: bottom center; /* Alinea la imagen en el centro inferior */
}
