/* .NoteBook09__container {
  /* display: flex; */
  /* width: 50vw; */


.NoteBook09 {
  background: url("../../../assets/Img-Section01/Page03/hoja.png");
  background-repeat: no-repeat;
  background-size: 44vw;
  height: 100%;
  transform: rotate(-1.362deg);
  left: 8vw;
  top: 60vh;
  position: absolute;
  z-index: 90;
}

.NoteBook09__texts {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  transform: rotate(4deg);
  text-align: center;
  margin-left: 11.5vw;
  margin-top: 19.5vh;
  font-style: normal;
  width: 26%;
}

.NoteBook09__text1 {
  transform: rotate(-4.362deg);
  color: var(--negro-textos, #081d20);
  font-size: 1.3vw;
  line-height: 1.5vw;
  font-weight: 400;
  text-align: start;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.NoteBook09__text2 {
  transform: rotate(-4.362deg);
  color: #c18831;
  font-family: "Formula Condensed";
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-align: start;
  text-transform: uppercase;
  margin: 0;
  margin-left: 0.8vw;
  margin-top: 0.3vh;
}

.NoteBook09__text3 {
  transform: rotate(-4.362deg);
  text-align: start;
  color: var(--negro-textos, #081d20);
  font-family: Inter;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: normal;
  letter-spacing: 2.75px;
  margin-left: 1.3vw;
  margin-top: 0.65vw;
}
