#container-Map #DO01 .DO:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #MX01 .MX:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #GT01 .GT:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #BZ01 .BZ:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #SV01 .SV:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #HN01 .HN:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #NI01 .NI:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #CR01 .CR:hover{
    fill: #13F8FD;
    cursor: pointer;
}
#container-Map #PA01 .PA:hover{
    fill: #13F8FD;
    cursor: pointer;
}

#container-Map #E-MX{
    cursor: pointer;
    display: none;
}

#container-Map #E-MX{
    cursor: pointer;
    display: none;
}
#container-Map #E-GT {
    cursor: pointer;
    display: none;
}
#container-Map #E-BZ{
    cursor: pointer;
    display: none;
}
#container-Map #E-MX{
    cursor: pointer;
    display: none;
}
#container-Map #E-SV{
    cursor: pointer;
    display: none;
}
#container-Map #E-HN{
    cursor: pointer;
    display: none;
}
#container-Map #E-NI{
    cursor: pointer;
    display: none;
}
#container-Map #E-CR{
    cursor: pointer;
    display: none;
}
#container-Map #E-PA{
    cursor: pointer;
    display: none;
}
#container-Map #E-DO{
    cursor: pointer;
    display: none;
}