.MapBackground {
    position: absolute;
    background-image: url('../../assets/Map/Map.svg');
    background-size: cover;
}

.MapCard {
    display: flex;
    align-items: center;
    position: absolute;
    font-family: 'Inter', sans-serif;
}