.MapBackground {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.MapCard {
    display: flex;
    align-items: center;
    position: absolute;
    font-family: 'Inter', sans-serif;
}