.ProtectionCare {
    position: relative;
}

.ProtectionCareImages {
    position: absolute;
}

.ProtectionCareImagesFrontPage {
    position: absolute;
    transform: scale(0.9);
}

.ProtectionCareText {
    position: absolute;
    margin: 0px;
}

.ProtectionCareText span {
    font-weight: 700;
}

.ProtectionCareIcon {
    position: absolute;
    animation: expand 0.5s infinite alternate ease-in-out;
}

@keyframes expand {
    to {
        transform: scale(1.5);
    }
}

.BigCardStyles {
    position: absolute;
    background-size: contain;
    background-position: center;
}

.textStyles {
    position: absolute;
    margin: 0px;
}

.containerRow {
    position: absolute;
}
.contentrow {
    position: absolute;
    margin: 0;
}
.animationText1 {
    top: 128vw;
    left: 6%;
    position: absolute;
    width: 32%;
    height: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.animationText1 .text1 {
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
    line-height: 39.94px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #0a4b4e;
}
.animationText1 .textStrong {
    font-family: Inter;
    font-size: 27px;
    font-weight: 700;
    line-height: 39.94px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #0a4b4e;
    margin-right: 0.5rem;
}
.animationText1 .text2 {
    font-family: Formula Condensed;
    font-size: 34px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #0a4b4e;
}
.animationText1 .text3 {
    font-family: Formula Condensed;
    font-size: 90px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
    color: #0a4b4e;
    margin-top: 1rem;
}

.animationText2{
    position: absolute;
    top: 460.6vw;
    left: 6vw;
}
.animationText2 .text5 {
    width: 171px;
    height: 60px;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A6063
}

.animationText2 .text7 {
    width: 171px;
    height: 60px;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A6063
}

.animationText2 .text9 {
    width: 171px;
    height: 60px;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A6063
}

.animationText2 .text11 {
    width: 171px;
    height: 60px;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A6063
}


.animationText3{
    position: absolute;
    top: 460.6vw;
    right: 5vw;
}
.animationText3 .text6 {
    width: 171px;
    height: 60px;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A6063
}
.animationText3 .text8 {
    width: 171px;
    height: 60px;
        font-family: Formula Condensed;
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
        letter-spacing: 0em;
        text-align: center;
        color: #1A6063
}
.animationText3 .text10 {
    width: 171px;
    height: 60px;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A6063
}
.animationText3 .text12 {
    width: 171px;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    letter-spacing: 0em;
    text-align: center;
    color: #1A6063
}
.animationGraphic{
    position: absolute;
    top: 459.4vw;
    left: 15vw;
    z-index: 2;
}
.animationGraphic img{ 
    width: 68.3vw;
}