.ProtectionCare {
    position: relative;
}

.ProtectionCareImages {
    position: absolute;
}

.ProtectionCareText {
    position: absolute;
    margin: 0px;
}

.ProtectionCareText span {
    font-weight: 700
}

.ProtectionCareIcon {
    position: absolute;
    animation: expand 0.5s infinite alternate ease-in-out;
}

@keyframes expand {
    to {
        transform: scale(1.5);
    }
}

.BigCardStyles {
    position: absolute;
    display: none;
    background-size: contain;
    background-position: center;
}

.textStyles {
    position: absolute;
    margin: 0px;
}