.ProtectionCare {
    position: relative;
}

.ProtectionCareImages {
    position: absolute;
}

.ProtectionCareImagesFrontPage {
    position: absolute;
    transform: scale(0.9);
}

.ProtectionCareText {
    position: absolute;
    margin: 0px;
}

.ProtectionCareText span {
    font-weight: 700;
}

.ProtectionCareIcon {
    position: absolute;
    animation: expand 0.5s infinite alternate ease-in-out;
}

@keyframes expand {
    to {
        transform: scale(1.5);
    }
}

.BigCardStyles {
    position: absolute;
    background-size: contain;
    background-position: center;
    opacity: 0;
    /* display: none; */
    visibility: hidden;
}

.textStyles {
    position: absolute;
    margin: 0px;
}
#bigCardpsicosocial{
    opacity: 0!important;
}
.containerRow {
    position: absolute;
}
.contentrow {
    position: absolute;
    margin: 0;
}
.animationText1 {
    top: 128vw;
    left: 6%;
    position: absolute;
    width: 32%;
    height: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.animationText1 .text1 {
    font-family: Inter;
    font-size: 1.7vw;
    font-weight: 400;
    line-height: 2.1vw;
    letter-spacing: 0.01em;
    text-align: left;
    color: #0a4b4e;
}
.animationText1 .textStrong {
    font-family: Inter;
    font-size: 1.7vw;
    font-weight: 700;
    line-height: 2.1vw;
    letter-spacing: 0.01em;
    text-align: left;
    color: #0a4b4e;
    margin-right: 0.5rem;
}
.animationText1 .text2 {
    font-family: Formula Condensed;
    font-size: 2.1vw;
    letter-spacing: 0.8px;
    font-weight: 700;
    line-height: 2vw;
    text-align: left;
    color: #0a4b4e;
}
.animationText1 .text3 {
    font-family: Formula Condensed;
    font-size: 5vw;
    font-weight: 700;
    line-height: 4.1vw;
    letter-spacing: 0em;
    text-align: left;
    color: #0a4b4e;
    margin-top: 1rem;
}
.animationText2 {
    position: absolute;
    top: 454.4vw;
    left: 6vw;
    height: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.animationText2 .text5 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}

.animationText2 .text7 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}

.animationText2 .text9 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}

.animationText2 .text11 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}

.animationText3 {
    position: absolute;
    top: 454.4vw;
    right: 5vw;
    height: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.animationText3 .text6 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}
.animationText3 .text8 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}
.animationText3 .text10 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}
.animationText3 .text12 {
    width: 12.5vw;
    height: 4.3vw;
    font-family: Formula Condensed;
    font-size: 47px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: center;
    color: #1a6063;
}
.animationGraphic {
    position: absolute;
    top: 463.4vw;
    left: 24vw;
    z-index: 2;
}
.animationGraphic img {
    width: 52.3vw;
}
.iconAudio{
    top: 46vw;
    z-index: 10;
    right: 3.5vw;
    position: absolute;
}
.iconAudio img{
    width: 3vw;
    cursor: pointer;
}
/* .bigCardProtection{
    display: none;
} */
