.organos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vh;
  position: relative;
  height: 120vh;
  width: 100vw;
}

.organos__content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;
}

.organos__title-book {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.organos__img-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: start;
  height: 20%;
  width: 100vw;
  right: 0;
  /* right: 10vh; */
  bottom: 15vh;
  position: absolute;
}

.organos__text-foot {
  display: flex;
  flex-direction: column;
  /* flex-direction: flex-end; */
  justify-content: flex-end;
  color: #a16913;
  font-family: Formula Condensed;
  text-align: start;
  font-size: 4.5vh;
  width: 30%;
  font-style: normal;
  line-height: 1em; 
  letter-spacing: 1.44px;
  font-weight: 500;
  position: absolute;
  right: 10vh;
}

.organos__text-foot small {
  color: #a16913;
  font-family: "Inter", sans-serif;
  font-size: 3.45vh;
  font-style: normal;
  font-weight: 400;
  /* line-height: 30px; */
  letter-spacing: 0.4px;
}

.organos__title {
  color: var(--verde-claro-textos, #006873);
  font-family: Formula Condensed;
  width: 60%;
  margin-left: 6vw;
  /* margin-bottom: 0; */
  margin-top: 20vh;
  text-align: start;
  font-size: 5vw;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.organos__img {
  /* top: 30vh; */
  position: absolute;
  left: 8vh;
  bottom: 0;
  z-index: 99;
  width: 55%;
}

.book_organos__container {
  display: flex;
  width: 80vw;
}

.book_organos {
  display: flex;
  /* flex-direction: column-reverse; */
  align-items: flex-start;
  background: url("../../../assets/Img-Section02/Page13/booklargo.png");
  background-repeat: no-repeat;
  background-size: 50vw;
  height: 100%;
  position: absolute;
}

.books__texts-organos {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  transform: rotate(9.6deg);
  margin-left: 7vw;
  margin-top: 18.2vh;
  font-style: normal;
  width: 68%;
}

.books__text {
  color: var(--negro-textos, #081d20);
  font-family: "Inter", sans-serif;
  font-size: 2.6vh;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55em;
  padding: 9px 0;
}

.books__text strong {
  color: var(--negro-textos, #c18831);
  font-family: Formula Condensed;
  font-size: 2.6vh;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* padding: 5px 0; */
  letter-spacing: 0.81px;
}

.arrow__book {
  display: flex;
  justify-content: center;
  align-items: start;
}

.arrow__img {
  /* margin-top: 2vh; */
  padding: 15px 5px;
}

.book__text-foot {
  margin-left: 5vh;
  color: var(--negro-textos, #081d20);
  font-family: Inter;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
