.practicas__esclavitud {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 110vh;
  width: 100vw;
}

.practicas__title {
  margin: 0;
  width: 70%;
  color: var(--negro-textos, #0a4b4e);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 1.7vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.practicas__title strong {
  color: var(--negro-textos, #0a4b4e);
  font-family: Formula Condensed;
  font-size: 2vw;
  letter-spacing: 1.35px;
}

.practicas__container {
  margin-top: 15vh;
  width: 70vw;
}

.practicas__content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.practicas__texts {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.practicas__item-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  width: 85%;
  border-radius: 0px 45px 45px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom bottom;
  background-color: #ffe1e3;
  background-image: url("../../../../assets/Img-Section02/Page11/rosachico.png");
  cursor: pointer;
}

.Servidumbre {
  background-image: url("../../../../assets/Img-Section02/Page11/azulcompleto.png");
  border-radius: 45px 45px 0px 45px;
  background-color: #8cdff1;
}

.Servidumbre:hover {
  border-radius: 45px 45px 0px 0px;
}

.Venta {
  background-color: #fee3b9;
  background-image: url("../../../../assets/Img-Section02/Page11/amarillochico.png");
  border-radius: 45px 0px 0px 45px;
}

.Matrimonio {
  background-image: url("../../../../assets/Img-Section02/Page11/verdechico.png");
  border-radius: 0px 45px 45px 45px;
  background-color: #006671;
}

.practicas__item {
  /* margin: 0; */
  margin-left: 10%;
  color: #006671;
  font-family: Formula Condensed;
  font-size: 5.6vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.blanco {
  color: #e0faff;
}

.img__matrimonio {
  transform: rotate(-90deg);
  fill: white;
}

.img__comun {
  margin-right: 6vh;
  padding: 1vh;
  height: 4vh;
  transform: rotate(-90deg);
}
.img__matrimonio {
  fill: white;
  margin-right: 6vh;
  padding: 1vh;
  height: 4vh;
  transform: rotate(0deg);
}

.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}

.practicashover1 {
  display: block !important;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../assets/Img-Section02/Page11/azulcompleto.png");
  color: #0a4b4e;
  font-family: "Inter", sans-serif;
  top: 13vh;
  padding: 2.5% 7.5%;
  width: 70%;
  font-size: 3vh;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  z-index: -1;
}

.practicashover1 strong {
  display: inline;
}

.practicashover2 {
  display: block !important;
  flex-direction: column;
  color: #0a4b4e;
  position: absolute;
  background-color: #ffe1e3;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/Img-Section02/Page11/rosacompleto.png");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  top: 13vh;
  font-size: 3vh;
  display: flex;
  padding: 2.5% 7.5%;
  width: 70%;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0em;
  /* border-radius: 0px 0px 5% 5%; */
  text-align: left;
  z-index: -1;
}
.practicashover3 {
  display: block !important;
  color: #0a4b4e;
  flex-direction: column;
  position: absolute;
  background-color: #fde1b5;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/Img-Section02/Page11/amarillogrande.png");
  top: 13vh;
  display: flex;
  padding: 2.5% 7.5%;
  width: 70%;
  font-size: 3vh;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0em;
  /* border-radius: 0px 0px 45px 45px; */
  text-align: left;
  z-index: -1;
}

.practicashover4 {
  display: block !important;
  flex-direction: column;
  position: absolute;
  background-color: #006671;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/Img-Section02/Page11/verdegrande.png");
  top: 13vh;
  padding: 2.5% 7.5%;
  width: 70%;
  color: #e0faff;
  /* border-radius: 0px 0px 0% 0%; */
  font-size: 3vh;
  display: flex;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  z-index: -1;
}

.practicashover__arrows {
  display: flex;
  height: 100%;
}

.listarrows {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  margin: 1vw 0;
}

.arrowpracticas {
  height: 1.5vw;
  width: 1.5vw;
  margin: 0 1vw;
  background-size: cover;
  background-image: url("../../../../assets/Img-Section02/Page11/arrow.png");
}

.arrowtwo{
  margin-top: 3.5vw;
}
.arrowthree{
  margin-bottom: 1.5vw;
}

/* rosa  */
.Servidumbrek:hover + .practicashover2 {
  display: flex;
  z-index: 5;
  border-radius: 0px 0px 45px 45px;
}

.Servidumbrek:hover {
  border-radius: 0px 45px 0px 0px;
}

.Servidumbrek:hover .img__comun {
  display: none;
}

/* azul */

.Servidumbre:hover + .practicashover1 {
  display: flex;
  z-index: 5;
  border-radius: 0px 0px 45px 45px;
}

.Servidumbre:hover .img__comun {
  display: none;
}

/*amarillo*/
.Venta:hover + .practicashover3 {
  display: flex;
  z-index: 5;
  border-radius: 0px 0px 45px 45px;
}

.Venta:hover {
  border-radius: 45px 0px 0px 0px;
}

.Venta:hover .img__comun {
  display: none;
}

/*verde*/
.Matrimonio:hover + .practicashover4 {
  display: flex;
  z-index: 999;
  border-radius: 0px 0px 45px 45px;
}

.Matrimonio:hover {
  border-radius: 45px 45px 0px 0px;
}

.Matrimonio:hover .img__matrimonio {
  display: none;
}

/* .practicas__item-background:hover + .practicashover4 {
  display: flex;
  z-index: 5;
}
.practicashover4:hover {
  display: flex;
  z-index: 4;
} */
